$theme-color: #1e1c27;

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes color-change {
  0% {
    color: #fff;
  }
  50% {
    color: #000;
  }
  100% {
    color: #fff;
  }
}

#header {
  background: $theme-color;
}

.loader {
  color: #3f51b5;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.banner {
  background: linear-gradient(-45deg, #3f51b5, #ffffff, #3f51b5);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  display: flex;
  align-items: center;

  &__heading {
    animation: color-change 15s ease infinite;
  }

  #cta-btn {
    width: 320px;
    height: 60px;
    font-size: 26px;
    background: $theme-color;

    &:hover {
      background: #FFFFFF;
      color: $theme-color;
      transition-duration: 0.5s;
    }
  }

}

.headline {
  text-align: center;
  font-family: Roboto;
  font-size: 42px;
}

.links-container, .chart {
  position: absolute;
  right: 0;
  margin: 20px;
  z-index: 9990;
  font-family: Roboto;
}

.links-container {
  width: 100%;
  justify-content: space-between;
  display: flex;
  left: 0;
  margin: 0 auto;
  bottom: 0;
}

.chart {
  font-size: 24px;
  padding: 10px 15px 150px 15px;
  background: #3f51b5;
  border-radius: 8px;
  min-width: 300px;
  color: #fff;

  .item {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      margin-top: 3px;
      height: 25px;
    }

    span {
      font-size: 22px;
      margin-top: 5px;
    }
  }

  .btn-wrapper {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    left: 0;

    a {
      text-decoration: none;
      display: inline-block;
      padding: 10px 20px;
      border: 2px solid #fff;
      color: #fff;

      &:hover {
        color: #3f51b5;
        background: #fff;
        transition-duration: 0.5s;
      }
    }
  }

  label {
    font-size: 24px;
  }
}

.picker h1 {
  color: #3f51b5;
}

.wrapper {
  &.d-none {
    opacity: 0;
  }
  h1 {
    &+div {
      height: 80vh;
    }
  }
}

@media (max-width: 767px) {
  .links-container, .chart {
    position: absolute;
    bottom: 0;
    left: auto;
    right: auto;
    margin: 10px 0;
  }

  #root {
    &>.picker {
      top: 85px;
    }
  }
  .picker .react-colorful.picker {
    width: 125px;
    height: 125px;
  }

  .links-container a {
    width: 100%;
    display: inline-block;
    font-size: 18px!important;
  }
}

.links-container a {
  margin: 10px;
  font-family: Roboto;
  text-decoration: none;
  font-size: 23px;
  padding: 10px 25px;
  background: #3f51b5;
  color: #fff;
  border: 1px solid transparent;

  &:hover {
    background: #fff;
    color: #3f51b5;
    border: 1px solid #3f51b5;
    transition-duration: 0.5s;
  }
}